﻿@model IEnumerable<Sample.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Emp List</h2>
    </div>
    <div class="col-3">
        <a asp-controller="Home" asp-action="Create"class="btn btn-info form-control text-white">Create New Employee</a>
    </div>
    <div class="col-12 border p-3 mt-3">
        <form method="post">
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        <label>Id</label>
                    </th>
                    <th>
                        <label>Name</label>
                    </th>
                    <th>
                        <label>Email</label>
                    </th>
                    <th>
                        <label>Address</label>
                    </th>
                    <th>
                        <label>Salary</label>
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Salary)
                </td>
                <td>
                    <button asp-controller="Home" asp-action="Delete"asp-route-id="@item.Id" onclick="return confirm('Are you sure want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>

                }

            </table>
        </form>
    </div>
</div>